#user  nobody;
worker_processes  1;

error_log  "{{ wapt_root_dir}}/log/nginx-errors.log";

pid        "{{ wapt_root_dir}}/log/nginx.pid";

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"'
                      '"$ssl_client_s_dn"';

    access_log  "{{ wapt_root_dir}}/log/nginx-access.log";

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    {% if force_https %}
    server {
        listen                      {{ nginx_http }};
        listen                      [::]:{{ nginx_http }} ;
        server_name                 _;
        return 301                  https://$host$request_uri;
    }

    {% endif %} {# if force_https #}
    server {

    {% if not force_https %}
        listen                      {{ nginx_http }} ;
    {% endif %} {# if force_https #}
        listen                      {{ nginx_https }} ssl;
        server_name                 _;

        ssl_certificate             "{{ wapt_ssl_cert_file }}";
        ssl_certificate_key         "{{ wapt_ssl_key_file }}";
        ssl_protocols               TLSv1.2;
        ssl_dhparam					"{{ wapt_dhparam_file }}";
        ssl_prefer_server_ciphers   on;
        ssl_ciphers                 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
        ssl_stapling_verify         on;
        ssl_session_cache           none;
        ssl_session_tickets         off;

    {% if use_ssl_client_auth %}
        ssl_client_certificate "{{ clients_signing_certificate }}";
      {% if clients_signing_crl %}
        ssl_crl "{{ clients_signing_crl }}";
      {% endif %}
        ssl_verify_client optional;
    {% elif clients_signing_certificate %}
        #ssl_client_certificate "{{ clients_signing_certificate }}";
        #ssl_crl "{{ clients_signing_crl }}";
        #ssl_verify_client optional;
    {% endif %}

        gzip_min_length     1000;
        gzip_buffers        4 8k;
        gzip_http_version   1.0;
        gzip_disable        "msie6";
        gzip_types          text/plain text/css application/json;
        gzip_vary           on;

        index index.html;

        location / {
            proxy_set_header X-Real-IP  $remote_addr;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            # be sure these headers are not forwarded
            proxy_set_header X-Ssl-Client-Dn  "";
            proxy_set_header X-Ssl-Authenticated  "";

            client_max_body_size 4096m;
            client_body_timeout 1800;

            location /static {
                alias "{{ wapt_root_dir}}/waptserver/static";
            }

            {% if known_certificates_folder %}
            location /ssl {
                alias "{{ known_certificates_folder }}";
            }
            {% endif %}

            location ~ ^/(wapt/waptsetup-tis.exe|wapt/waptagent.exe|wapt/waptdeploy.exe)$ {
                add_header Cache-Control "store, no-cache, must-revalidate, post-check=0, pre-check=0";
                add_header Pragma "no-cache";
                root "{{ wapt_repository_path }}";
            }

            location ~ ^/(wapt/.*|wapt-host/.*|waptwua/.*|wapt-diff-repos/.*)$ {
                add_header Cache-Control "store, no-cache, must-revalidate, post-check=0, pre-check=0";
                add_header Pragma "no-cache";
    {% if use_ssl_client_auth %}
                proxy_set_header X-Ssl-Authenticated $ssl_client_verify;
                proxy_set_header X-Ssl-Client-DN $ssl_client_s_dn;
                if ($ssl_client_verify != SUCCESS) {
                   return 401;
                }
    {% endif %}
                root "{{ wapt_repository_path }}";
            }

        {% if use_kerberos  %}
            location /add_host_kerberos {
                auth_gss on;
                auth_gss_keytab {{ wapt_root_dir}}/waptserver/nginx/http-krb5.keytab;
                proxy_pass http://127.0.0.1:{{waptserver_port}};
            }
        {% else %}
            location /add_host_kerberos {
                return 403;
            }
        {% endif %} {# if use_kerberos #}

            location /add_host {
                proxy_pass http://127.0.0.1:{{waptserver_port}};
            }

            location /wapt-host/Packages {
                    return 403;
            }

            location / {
                add_header Cache-Control "store, no-cache, must-revalidate, post-check=0, pre-check=0";
                add_header Pragma "no-cache";
    {% if use_ssl_client_auth %}
                proxy_set_header X-Ssl-Authenticated $ssl_client_verify;
                proxy_set_header X-Ssl-Client-DN $ssl_client_s_dn;
                if ($ssl_client_verify != SUCCESS) {
                   return 401;
                }
    {% endif %}
                add_header X-Forwarded-List $http_x_forwarded_for;
                add_header X-Remote-IP $remote_addr;
                proxy_pass http://127.0.0.1:{{waptserver_port}};
            }

            location /socket.io {
                proxy_http_version 1.1;
                proxy_buffering off;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_pass http://127.0.0.1:{{waptserver_port}}/socket.io;
            }
        }
    }
}
