[Unit]
Description=WAPT Server startup script
After=syslog.target
After=postgresql-9.4.service

[Service]
Type=simple
PIDFile=/var/run/waptserver.pid
User=wapt
ExecStart=/usr/bin/python2 /opt/wapt/waptserver/waptserver.py
Restart=on-abort
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
