#user  nobody;
worker_processes  1;

error_log  "{{ wapt_root_dir}}/waptserver/nginx/logs/error.log";

pid         "{{ wapt_root_dir}}/waptserver/nginx/logs/nginx.pid";

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  "{{ wapt_root_dir}}/waptserver/nginx/logs/access.log";

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    {% if force_https %}
    server {
        listen                      80;
        listen                      [::]:80;
        server_name                 _;
        return 301                  https://$host$request_uri;
    }

    {% endif %} {# if force_https #}
    server {

    {% if not force_https %}
        listen                      80;
    {% endif %} {# if force_https #}
        listen                      443 ssl;
        server_name                 _;

        ssl_certificate             "{{ wapt_ssl_cert_file }}";
        ssl_certificate_key         "{{ wapt_ssl_key_file }}";
        ssl_protocols               TLSv1.2;
        ssl_prefer_server_ciphers   on;
        ssl_ciphers                 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
        ssl_stapling_verify         on;
        ssl_session_cache           none;
        ssl_session_tickets         off;

        index index.html;


        location ~ ^/wapt.* {
            proxy_set_header Cache-Control "store, no-cache, must-revalidate, post-check=0, pre-check=0";
            proxy_set_header Pragma "no-cache";
            proxy_set_header Expires "Sun, 19 Nov 1978 05:00:00 GMT";
            root "{{ wapt_repository_path }}";
        }

        location / {
            proxy_set_header X-Real-IP  $remote_addr;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

    {% if use_kerberos  %}
            location /add_host {
                auth_gss on;
                auth_gss_keytab  /etc/nginx/http-krb5.keytab;
                proxy_pass http://127.0.0.1:8080;
            }
    {% endif %} {# if use_kerberos #}



            location  ~ ^/(api/v3/upload_packages|api/v3/upload_hosts/|upload_waptsetup)  {
                proxy_pass http://127.0.0.1:8080;
                client_max_body_size 4096m;
                client_body_timeout 1800;
            }

            location /wapt-host/Packages {
                    return 403;
            }

            location / {
                proxy_pass http://127.0.0.1:8080;
            }

            location /socket.io {
                proxy_http_version 1.1;
                proxy_buffering off;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_pass http://127.0.0.1:8080/socket.io;
            }
        }
    }
}