[Unit]
Description=WAPT Tasks startup script
After=syslog.target
After=postgresql-9.4.service


[Service]
Type=simple
User=wapt
WorkingDirectory=/opt/wapt
ExecStart=/opt/wapt/bin/python /opt/wapt/waptserver/wapthuey.py tasks_common.huey -w 2 -k thread
Restart=on-failure
Environment=PYTHONHOME=/opt/wapt
Environment=PYTHONPATH=/opt/wapt
Environment=VIRTUAL_ENV=/opt/wapt
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
