[Unit]
Description=WAPT Server startup script {{application_root}}
After=syslog.target
After=postgresql.service

[Service]
Type=simple
User=wapt
WorkingDirectory=/opt/wapt
ExecStart=/opt/wapt/bin/python /opt/wapt/waptserver/server.py -c /opt/wapt/conf/{{ application_root }}.ini
Restart=on-failure
Environment=PYTHONHOME=/opt/wapt
Environment=PYTHONPATH=/opt/wapt
Environment=VIRTUAL_ENV=/opt/wapt
LimitNOFILE=32768
SyslogIdentifier=waptserver

[Install]
WantedBy=multi-user.target
