dbpath = {{ dbpath }} 
port = 38999 
bind_ip = 127.0.0.1
serviceName = WAPTMongodb
serviceDisplayName = WAPTMongodb
serviceDescription = "Mongo DB database for WAPT Server"
logpath = {{ logpath }}