[submodule "waptwua"]
	path = waptwua
	url = git://git.ad.tranquil.it/wapt/waptwua.git
	branch = master

[submodule "waptenterprise"]
	path = waptenterprise
	url = git://git.ad.tranquil.it/wapt/waptenterprise.git
	branch = master
