*.compiled
*.dbg
*.log
*.ppu
.SyncArchive
.git
.gitignore
.rnd
appwaptservice.log
backup
cache
db
tmp
trash
version
wapt-get.ini
*.lrt
wapt-get.exe
waptconsole.exe
waptdeploy.exe
waptexit/lib/
waptserver/postconf/lib/
wapttray.exe
waptexit.exe
waptserverpostconf.exe
waptupgrade/patchs/
*.wapt
*.res
# These are the default patterns globally ignored by Subversion:
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_store
*.lps
/ssl/*
/private/*
/waptdeploy/*.lps
/waptgui/*.lps
/waptexit/*.lps
/waptserver/postconf/*.lps
/wapttray/*.lps
/waptconsole/*.lps
/waptwua/windows_updates_rules.json
/docs/_build
/docs/_static
/docs/training
/waptserver/apache-win32/ssl
/waptserver/mongodb/log
/waptserver/mongodb/data
/waptserver/apache-win32/conf/httpd.conf
/waptserver/mongodb/mongod.cfg
/profilemigration
/waptupgrade/waptagent.sha1
*.deb
*.rpm
/tcl
/Include
/Scripts
/lib
/libeay32.dll
/ssleay32.dll
/pip-selfcheck.json
/share/doc/*
/readme.txt
/DLLs
/libs
/*.dll
/waptpython.exe
/waptpythonw.exe
*.bak
/waptserver/nginx/*
/waptserver/pgsql/*
/waptsetup/innosetup/*
ssleay32.dll
openssl.exe
libeay32.dll
openssl.exe
/waptserver/nginx/placeholder
/waptserver/pgsql/placeholder
/iscc.txt
/waptservice/win32/*.exe
/waptservice/win64/*.exe
/dmidecode.exe
/waptsetup/custom_waptagent.iss
