[submodule "waptwua"]
	path = waptwua
	url = ssh://htouvet@git.ad.tranquil.it:29418/wapt/waptwua.git
	branch = master

[submodule "waptenterprise"]
	path = waptenterprise
	url = ssh://htouvet@git.ad.tranquil.it:29418/wapt/waptwua.git
	branch = master
