*.compiled
*.dbg
*.log
*.ppu
.SyncArchive
.git
.gitignore
.rnd
appwaptservice.log
backup
cache
db
tmp
trash
version
wapt-get.ini
*.lrt
waptdeployapf/
waptexit/lib
waptserver/postconf/lib

wapt-get.exe
waptconsole.exe
waptdeploy.exe
waptexit/lib/
waptserver/postconf/lib/
Wapttray.exe
waptserverpostconf.exe
# These are the default patterns globally ignored by Subversion:
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_store
*.lrt
