Babel==2.3.4
Flask==0.12
Flask-Babel==0.11.1
Jinja2==2.9.5
MarkupSafe==0.23
Rocket==1.2.4
Werkzeug==0.11.15
argparse==1.2.1
bson==0.4.3
click==6.7
distribute==0.6.24
huey==1.2.2
iniparse==0.4
itsdangerous==0.24
peewee==2.8.5
#psycopg2==2.6.2
#pymongo==3.4.0
pytz==2016.10
requests==2.13.0
six==1.10.0
wakeonlan==0.2.2
wsgiref==0.1.2
urllib3==1.20
netifaces==0.10.4
