Babel==2.3.4
cryptography==1.9
Flask==0.12.2
Flask-Babel==0.11.1
Jinja2==2.9.6
MarkupSafe==1.0
Rocket==1.2.4
Werkzeug==0.12.2
argparse==1.2.1
click==6.7
cffi==1.10.0
huey==1.2.2
iniparse==0.4
itsdangerous==0.24
peewee==2.8.5
pefile==2016.3.28
psycopg2==2.7.1
pytz==2016.10
requests==2.18.1
six==1.10.0
wakeonlan==0.2.2
wsgiref==0.1.2
urllib3==1.20
netifaces==0.10.4
python-engineio==1.5.4
python-socketio==1.7.5
Flask-SocketIO==2.8.6
eventlet==0.21.0
passlib==1.7.1