appdirs==1.4.0
Babel==2.3.4
BeautifulSoup==3.2.1
blinker==1.4
click==6.7
Flask==0.12
flask-hmacauth==0.3.9
flask-paginate==0.4.5
Flask-SocketIO==2.8.2
huey==1.2.2
iniparse==0.4
itsdangerous==0.24
Jinja2==2.9.5
kerberos-sspi==0.2
MarkupSafe==0.23
packaging==16.8
passlib==1.7.1
peewee==2.8.5
psutil==5.1.0
pymongo==3.4.0
pyparsing==2.1.10
python-engineio==1.1.2
python-socketio==1.6.3
pytz==2016.10
requests==2.13.0
Rocket==1.2.4
six==1.10.0
wakeonlan==0.2.2
Werkzeug==0.11.15
winshell==0.6
WMI==1.4.9
WTForms==2.1
