[global]
repo_url=
dbdir = c:\wapt\db


; loglevel : debug info warning critical
;loglevel=warning

; for package development
;private_key=c:\tmp\ko.pem

; for waptsetup ksign build
;private_key_p12=c:\tmp\ko.p12

; default sources location (
default_sources_url=
; https://svn.tranquil.it/sources/%(packagename)s-wapt/trunk/

; where to create templates of packages, or unzip packages to edit
default_sources_root=c:\waptdev

; where to create templates of host packages, or unzip packages for editing hosts
default_sources_root_host=c:\waptdev\hosts

; From where copy templates packages in waptconsole
;templates_repo_url=http://wapt.tranquil.it/wapt

; default prefix to add to software name when creating package templates
default_package_prefix=tis

; default suffix to add to package name for package development directory
default_sources_suffix=wapt

; command to run for uploading a package to your server (wapt-get upload-package or build-upload)
; if no command is supplied, it is assumed your wapt server is running waptserver and support /upload_package POST with a file form-encoded parameter
;upload_cmd="C:\Program Files\WinSCP\WinSCP.exe" root@bureau.tranquil.it /upload %(waptfile)s
; you could put your public authorization key in server's /root/.ssh/authorized_keys
; example if you have cygwin :
;   create key : c:\cygwin\bin\ssh localhost ssh-keygen
;   copy key :   c:\cygwin\bin\ssh localhost ssh-copy-id -i ~/.ssh/id_dsa root@srvwapt
;upload_cmd="c:\Program Files"\putty\pscp -v -l waptserver %(waptfile)s srvwapt:/var/www/%(waptdir)s/

; command to run (deprecated by http upload)
;after_upload="c:\Program Files"\putty\plink -v -l waptserver srvwapt "python /var/www/wapt/wapt-scanpackages.py /var/www/%(waptdir)s/"

; command to use to upload host package to your server (wapt-get upload-package or build-upload of a host package)
; if no command is supplied, it is assumed your wapt server is running waptserver and support /upload_host POST with a file form-encoded parameter
;upload_cmd_host="c:\Program Files"\putty\pscp -v -l waptserver %(waptfile)s srvwapt:/var/www/wapt-host/

; define a wapt_server only if one is running
; a wapt server support the following url :
;   /add_host
;   /update_host
;   /upload_package
;   /upload_host
; if not present : no waptserver, if empty : use DNS SRV record _waptserver._tcp.mondomaine.local
;wapt_server=http://wapt.tranquil.it/waptserver

; for windows task scheduling wapt-get 
;waptupgrade_task_period=360
;waptupgrade_task_maxruntime=360

;waptupdate_task_period=30
;waptupdate_task_maxruntime=10



;;;;;;;;;;;;;;;;;;;;;;;;;;;
; wapt_service configuration. Use windows security by default
;wapt_user=admin
;wapt_password=5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
;waptservice_port=8088

;;;;;;;;;
; waptexit
; Enable disable button to cancel upgrade at computer shutdown (waptexit.exe)
;allow_cancel_upgrade=1

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Proxy enable : 1 / disable : 0
;http_proxy=http://user:pwd@host_fqdn:port
;use_http_proxy_for_repo=0
;use_http_proxy_for_server=0
;use_http_proxy_for_templates=0

;repositories=private,tranquilit

[private]
repo_url=http://wapt/wapt

[tranquilit]
repo_url=http://wapt.tranquil.it/wapt
default_source_url=https://dev.tranquil.it/wapt/
