package      : tis-waptwua
version      : 23
architecture : all
section      : base
priority     : standard
maintainer   : Hubert TOUVET
description  : wsus like task
depends      : 
conflicts    : 
sources      : https://srvdev/sources/tis-waptwsus-wapt/trunk
