package      : tis-waptwua-default
version      : 23
architecture : all
section      : base
priority     : standard
maintainer   : Hubert TOUVET
description  : default
depends      : 
conflicts    : 
sources      : https://srvdev/sources/tis-waptwsus-wapt/trunk
