[uwsgi]
http = 0.0.0.0:8080
master = true
processes = 4
wsgi=waptserver:app
chdir=/opt/waptserver/

#[options]
#mongodb_port=27017
#mongodb_ip=srvwapt
#wapt_folder=/var/www/wapt/
wapt_user=admin
wapt_password=sha512password
