[uwsgi]
http-socket = 0.0.0.0:8080
master = true
processes = 16
wsgi=waptserver:app
chdir=/opt/wapt/waptserver/
max-requests=100
uid=wapt
gid=www-data

[options]
#mongodb_port=27017
#mongodb_ip=127.0.0.1
#wapt_folder=/var/www/wapt/
#waptserver_port=8080
wapt_user=admin
wapt_password=b109f3bbbc244eb82441917ed06d618b9008dd09b3befd1b5e07394c706a8bb980b1d7785e5976ec049b46df5f1326af5a2ea6d103fd07c95385ffab0cacbc86
#loglevel=warning