Package: tis-waptsetup
Version: 0.0.7
Section: base
Priority: optional
Architecture: all
Depends: nginx
Maintainer: TIS <technique@tranquil-it-systems.fr>
Description: WAPT setup executable for Windows
