Package: tis-waptsetup{% if UNIX=='TRUE' %}-linux-mac{% endif %}
Version: {{ version }}
Section: base
Priority: optional
Architecture: all
Depends: nginx
Maintainer: TIS <technique@tranquil-it-systems.fr>
Description: {{ description }}
