{% extends "layout.html" %}
{% block content %}

<h1>{{ _("Downloads") }}</h1>

{% for package in downloads['downloaded'] %}
    <p>{{ _("{0} downloaded").format(package) }}</p>
{% endfor %}

{% for package in downloads['skipped'] %}
    <p>{{ _("{0} already available").format(package) }}</p>
{% endfor %}

{% for error in errors %}
<ul>
	<li>{{ _("Error: {0}").format(error) }}</li>
</ul>
{% endfor %}

<input type="button" value={{ _("Back") }} onclick="location.href='list'">
{% endblock %}
