<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>{{ _("WAPT Service status") }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/styles/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/static/styles/offcanvas.css" rel="stylesheet">

  </head>

  <body background='/static/images/bg_body.gif'>

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">TIS Backup GUI</a>-->
          <a class="navbar-brand" href="http://dev.tranquil.it/wiki/WAPT_-_apt-get_pour_Windows">
            <img style=" margin-top:-13px;"
             src="/static/images/tis.png">
          </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if request.path == "/" %}class="active"{% endif %} ><a href="/">{{ _("WAPT") }}</a></li>
			<li {% if request.path == "/status" %}class="active"{% endif %} ><a href="/status">{{ _("Installed packages") }}</a></li>
			<li {% if request.path == "/list" %}class="active"{% endif %} ><a href="/list">{{ _("List of packages") }}</a></li>
			<li {% if request.path == "/tasks" %}class="active"{% endif %} ><a href="/tasks">{{ _("Tasks") }}</a></li>
          </ul>
        </div><!-- /.nav-collapse -->

      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">
      <div class="row">
	{% block content %}
	{% endblock %}

      </div><!--/row-->

      <hr>

      <footer>
        <p>Copyright (c) 2016 Tranquil IT Systems. All rights reserved. Design by TIS.</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/offcanvas.js"></script>

</body></html>

