{% extends "layout.html" %}
{% block content %}
{% macro link(href,desc='') -%}
	{% if desc == '' %}
		<a href={{href}}>{{href}}</a>
	{% else%}
		<a href={{href}}>{{desc}}</a>
	{%endif%}
{%- endmacro%}

<h1>Available packages</h1>
{% set cols = ['package','version','description','filename'] %}
<table border=1 cellspacing=0 cellpadding=4 class=sample>
	<tr>
		{% for c in cols %}
			<th>
			{{c}}
			</th>
		{% endfor %}
		<th>Action<th>
	</tr>
	{% for p in packages %}
		<tr>
		{% for c in cols %}
		<td>
		  {{p[c]}}
		</td>
	{% endfor %}
			<td><a href="install?package={{p.package}}">Install</a></td>

	</tr>
{% endfor %}
</table>
{% endblock %}
