{% extends "layout.html" %}
{% block content %}
{% macro link(href,desc='') -%}
	{% if desc == '' %}
		<a href={{href}}>{{href}}</a>
	{% else%}
		<a href={{href}}>{{desc}}</a>
	{%endif%}
{%- endmacro%}
<script>
function refresh()
	{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.open("GET","update",true);
xmlhttp.send();
location.reload(true);
}
</script>
<h1>Available packages</h1>
<input onclick='refresh()' type="button" name="update" value="Mise à jour les paquets disponibles" />
<input onclick="location.href='cleanup'" type="button" name="cleanup" value="Nettoyer le cache de paquets" />
<input onclick="location.href='upgrade'" type="button" name="upgrade" value="Mettre à jour le système" />
{% set cols = ['package','install_version','install_status','install_date'] %}
<table border=1 cellspacing=0 cellpadding=4 class=sample>
	<tr>
		{% for c in cols %}
			<th>{{c or "###"}}</th>
		{% endfor %}
		<th>Action</th>
	{% for p in packages %}
        {%set package_version= "%s(=%s)" % (p.package,p.version) %}
        {%if p.get('install_status')=='OK'%}
            {%if Version(p['install_version']) < Version(p['version'].split('|')[0]) %}
        		<tr class=status-upgradable>
            {%elif Version(p['install_version']) == Version(p['version']) %}
        		<tr class=status-installed>
            {%else%}
        		<tr>
            {%endif%}
        {%elif p.get('install_status')=='ERROR'%}
            <tr class=status-error>
        {%else%}
    		<tr>
        {%endif%}

		{% for c in cols %}
		<td>
          {%if c=='install_date' and p[c]%}
		  {{format_isodate(p[c])}}
          {%elif c=='package'%}
		      <img class=package-icon src="package_icon?package={{p.package}}">
              <p>{{link("package_details?package="+package_version,p[c])}}
              <span class="package-version">{{p.version}}</span></p>
              <p class="package-description">{{p.description}}</p>
          {%else%}
		  <span class={{'package-'+c}}>{{p[c] or ""}}</span>
          {%endif%}
		</td>
	    {% endfor %}
        {% if p.get('install_status') and p['install_version'] == p['version'] %}
    			<td><a class="package-remove" href="remove?package={{p.package}}">Remove</a></td>
        {% elif p.get('install_status') and Version(p['install_version']) > Version(p['version']) %}
    			<td><a class="package-downgrade" href="install?package={{'%s(=%s)' % (p.package,p.version)}}">Downgrade</a></td>
        {% elif p.get('install_status') and Version(p['install_version']) < Version(p['version']) %}
    			<td><a class="package-upgrade" href="install?package={{'%s(=%s)' % (p.package,p.version)}}">Upgrade</a></td>
        {% else %}
    			<td><a class="package-install"  href="install?package={{'%s(=%s)' % (p.package,p.version)}}">Install</a></td>
        {% endif %}
	</tr>
{% endfor %}
</table>
{% endblock %}
