{% extends "layout.html" %}
{% block content %}
<h1><img class=package-icon src="package_icon?package={{data.package}}"> {{data.package}} {{data.version}}</h1>'
<ul>
{% for attrib in [_('package'),_('version'),_('description'),_('maintainer')] %}
    <li><strong>{{ attrib }}</strong> : {{data[attrib]}}</li>
{% endfor %}
{%if data.depends %}
    <ul>
    {%for dep in data.depends.split(',')%}
        <li><a href="package_details?package={{dep.strip()}}">{{dep}}</a></li>
    {%endfor%}
    </ul>
{%endif%}
</ul>
<input type="button" value={{ _("Télécharger") }} onclick="location.href='package_download?package={{"%s(=%s)" % (data.package,data.version)}}'">
<input type="button" value={{ _("Installer") }} onclick="location.href='install?package={{"%s(=%s)" % (data.package,data.version)}}'">
<input type="button" value={{ _("Désinstaller") }} onclick="location.href='remove?package={{"%s" % (data.package,) }}'">

<input type="button" value={{ _("Retour") }} onclick="location.href='list'">
{% endblock %}
