{% extends "layout.html" %}
{% block content %}

{% macro link(href,desc='') -%}{% if desc == '' %}<a href={{href}}>{{href}}</a>{%else%}<a href={{href}}>{{desc}}</a>{%endif%}{%- endmacro%}

<h1>Installed packages</h1>'
<table border=1 cellspacing=0 cellpadding=4 class=sample>
{% set cols = [('install_status','Status'),('package','Package'),('install_par','Installed by'),('install_date','Installed on'),('repo_version','Version repo'),('install_output','Traces')] %}
	<tr>
		{% for c in cols %}
			<th>{{c[1]}}</th>
		{% endfor %}
		<th>Action</th>
	</tr>
	{% for p in packages %}
        {%set package_version= "%s(=%s)" % (p.package,p.version) %}
        {%if p.get('install_status')=='OK'%}
            {%if Version(p['version']) < Version(p.get('repo_version','') or '') %}
        		<tr class=status-upgradable>
            {%elif Version(p['version']) == Version(p.get('repo_version','') or '') %}
        		<tr class=status-installed>
            {%else%}
        		<tr>
            {%endif%}
        {%elif p.get('install_status')=='ERROR'%}
            <tr class=status-error>
        {%else%}
    		<tr>
        {%endif%}

		{% for c in cols %}
        {%if c[0] == 'package' %}
              <td width=20%>
		      <img class=package-icon src="package_icon?package={{p.package}}">
              <p><a href="package_details?package={{package_version}}">{{p[c[0]]}}</a> <span class="package-version">{{p.version}}</span></p>
              <p class="package-description">{{p.description or ""}}</p>
        {%elif c[0]=='install_date' %}
              <td>
			{{format_isodate(p[c[0]])}}
		{%elif c[0]=='install_output' %}
            <td width=30%>
			{{p[c[0]].replace('\n','<br>')|safe}}
		{%else%}
            <td>
			{{p[c[0]] or '-'}}
		{%endif%}
		</td>
		{% endfor %}
		<td><a href="remove?package={{p.package}}">Remove</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
