Package: tis-waptserver
Version: 0.0.7
Section: base
Priority: optional
Architecture: all
Depends: python, mongodb-server, dialog, tis-waptrepo, python-m2crypto, python-passlib, uwsgi, uwsgi-plugin-python, python-tz
Recommends: tis-waptsetup
Maintainer: TIS <technique@tranquil-it-systems.fr>
Description: WAPT Server for linux
