STRINGTABLE
{
0, "    <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          <a href=\"#page1\"></a>\
          <b>WAPT</b> clients make requests to the server.<br>\
          In order to connect to the WAPT server,\
          it is advisable that a DNS name be used, as long as it has been correctly\
          configured in your network's DNS environment.<br>\
          We suggest naming your WAPT server 'srvwapt.mydomain.local'\
          (A record type), then binding an alias (CNAME record type, e.g.\
          'wapt.mydomain.local') to srvwapt.<br>\
          In case you don't trust your DNS, or you are just setting up a\
          testing environment, you can fall back to the server IP address.\
          \
          For further information :\
          <a href=\"http://dev.tranquil.it/scenari/guide_admin/co/wapt_server_configuration_champDNS.html\">Configuring a WAPT infrastructure</a>.\
          \
          </body>\
          </html>"
1, "    <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          <a href=\"#page1\"></a>\
          Les clients <b>WAPT</b> vont faire appel au serveur Wapt<br>\
          Pour joindre le serveur WAPT,\
          il est préférable d'utiliser un nom DNS, mais celui-ci doit être correctement\
          configuré dans l'environnement DNS de votre réseau.<br>\
          Pour le nom du serveur wapt, il est conseillé d''utiliser le nom\
          srvwapt.mondomain.local en champ de type A et\
          créer un alias wapt.mondomain.local en champ de type CNAME pointant\
          vers srvwapt.<br>\
          Si vous avez quelques doutes sur vos DNS, ou que vous mettez en place\
          juste un\
          environnement de test, vous pouvez renseigner directement d'adresse IP\
          du serveur.\
          \
          For further information :\
          <a href=\"http://dev.tranquil.it/scenari/guide_admin/co/wapt_server_configuration_champDNS.html\">Configuration d'une infrastructure WAPT</a>.\
          \
          </body>\
          </html>"
		  
100, "  <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          This is the password used to connect to the WAPT server via the WAPT \
          console.<br /> \
          For further information :<br /> \
          <a \
          href=\"http://dev.tranquil.it/scenari/guide_admin/co/generation_certificat_wapt.html\">Generating a WAPT certificate</a>. \
          </body>\
          </html>"
	  
101, "   <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          C'est le mot de passe utilisé pour vous connecter au serveur WAPT via la\
          console WAPT.<br /> \
          </body>\
          </html>"

200, "  <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          A private (.pem) - public (.crt) keypair will be generated \
          to allow for package authentication.<br>\
          Only packages signed with your private key may be installed onto \
          agents.<br>\
          The <b>private key (.pem)</b> must not be disclosed to a third party \
          under any circumstances.<br>\
          The <b>public certificate (.crt)</b> may however be disclosed. It will \
          be deployed onto client hosts via the custom installer.<br>\
          <br>\
          <i>NB. : the private key must be generated only once per organisation.</i>\
          <br>\
          For further information :\
          <a \
          href=\"http://dev.tranquil.it/scenari/guide_admin/co/generation_certificat_wapt.html\">Generating a self-signed certificate</a>. \
          </body>\
          </html>"

201, "   <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          Un couple clé privée (.pem) - clé publique (.crt) sera généré \
          pour permettre l'authentification des paquets.<br>\
          Seuls les paquets signés de votre clé privée peuvent être installés \
          sur les agents WAPT.<br>\
          La <b>clé privée (.pem)</b> ne doit être dévoilée en aucun cas \
          à une tierce partie.<br>\
          Le <b>certificat public (.crt)</b> peut cependant être révélé. Il sera \
          déployé sur les machines clientes via l'installeur personnalisé.<br>\
          <br>\
          <i>NB. : la clé privée ne doit être générée qu'une fois pour chaque organisation.</i>\
          <br>\
          Pour plus d'informations :\
          <a \
          href=\"http://dev.tranquil.it/scenari/guide_admin/co/generation_certificat_wapt.html\">générer un certificat auto-signé</a>. \
          </body>\
          </html>"

300, "    <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          \
          <b>Tranquil IT Systems</b> provides an array of WAPT packages \
          at <a href=\"http://wapt.tranquil.it\">wapt.tranquil.it</a> <br>\
          For a quick start with your new WAPT installation, download ready-made\
          packages and deploy them onto your network .<br>\
          \
          When you pull or create a package, its name will be prefixed \
          with\
          your trigram/quadrigram to mark its \
          provenance.<br>\
          Replace \"test\" with a trigram meaningful to your organisation (ex: tis \
          standing for\
          Tranquil IT Systems).<br>\
          \
          The development directory is where \
          information\
          about your package in development will be stored. <br>\
          \
          For further information :\
          <a \
          href=\"http://dev.tranquil.it/scenari/guide_admin/co/configuration_waptconsole.html\">Configuring the WAPT console</a>. \
          </body>\
          </html>"
		  
301, "   <html>\
         <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          \
          <b>Tranquil IT Systems</b> propose une sélection de paquets \
          sur <a href=\"http://wapt.tranquil.it\">wapt.tranquil.it</a> <br>\
          Pour commencer à profiter de votre installation WAPT, téléchargez\
          des paquets pré-assemblés et déployez-les sur votre réseau.<br>\
          \
          Lorsque vous récupérez ou créez un paquet, son nom sera préfixé \
          de votre\
          trigramme/quadrigramme pour signer sa \
          provenance.<br>\
          Remplacez 'test' avec un trigramme qui représente votre organisation (ex: tis \
          pour\
          Tranquil IT Systems).<br>\
          \
          Le répertoire de développement est l'endroit où \
          seront stockées les informations\
          concernant votre paquet en développement. <br>\
          \
          Pour plus d'informations :\
          <a \
          href=\"http://dev.tranquil.it/scenari/guide_admin/co/configuration_waptconsole.html\">Configurer la console WAPT</a>. \
          </body>\
          </html>   "
		  
400, "    <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          The server is ready to start.<br>\
          Parameters will be copied into wapt-get.ini<br>\
          </body>\
          </html>"

401, "     <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          Le serveur est prêt à démarrer.<br>\
          Les paramètres seront copiés dans wapt-get.ini<br>\
          </body>\
          </html>"
		  
500, "    <html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          The custom installer \
          (waptagent.exe) is for integrating \
          your\
           certificate into the WAPT agent.\
          The WAPT agent must be installed on \
          every host you wish to \
          manage.\
          To set it up, you can use one of \
          several methods &nbsp;:\
          <ul>\
          <li> from a USB stick </li>\
          <li> from https://wapt-server-name/wapt/waptagent.exe \
          </li>\
          <li> <a \
          href=\"htp://dev.tranquil.it/index.php/WAPT_-_D%C3%A9ploiement_de_WAPT_par_GPO\">\
          Deploying WAPT via GPO</a> \
          </li>\
          </ul>\
          <br>\
          Check the documentation \
          at <a\
          href=\"http://dev.tranquil.it/scenari/guide_admin/co/generation_waptsetup_personnalise_waptconsole.html\">Generating \
          from the WAPT console</a>\
          </body>\
          </html>"
501, "<html>\
          <head>\
          <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
          </head>\
          <body>\
          L'installeur personnalisé WAPT \
          (waptagent.exe) sert à intégrer \
          votre\
          certificat dans l'agent WAPT.\
          L'agent WAPT doit être installé sur \
          toutes les machines que vous souhaitez\
          administer.\
          Pour l'installer, vous pouvez utiliser \
          plusieurs méthodes : &nbsp;:\
          <ul>\
          <li> depuis une clé USB </li>\
          <li> depuis https://name_of_your_server/wapt/waptagent.exe \
          </li>\
          <li> <a \
          href=\"htp://dev.tranquil.it/index.php/WAPT_-_D%C3%A9ploiement_de_WAPT_par_GPO\">\
          Déploiement_de_WAPT_par_GPO</a> \
          </li>\
          </ul>\
          <br>\
          Consultez la documentation \
          sur <a\
          href=\"http://dev.tranquil.it/scenari/guide_admin/co/generation_waptsetup_personnalise_waptconsole.html\"\
          >Générer depuis la console WAPT</a>\
          </body>\
          </html>"
		  
600, "      <html>\
            <head>\
            <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
            </head>\
            <body>\
            Well done, your WAPT server is now operational..<br>\
            Check the documentation \
            at <a href=\"http://dev.tranquil.it/scenari/guide_admin/co/generation_waptsetup_personnalise_waptconsole.html\">Generating\
            from the WAPT console</a>\
            <br>\
            To deploy the WAPT agent onto your network, check \
            the\
            documentation <a href=\"http://dev.tranquil.it/index.php/WAPT_-_D%C3%A9ploiement_de_WAPT_par_GPO\"/>Deploying WAPT via \
            GPO</a>\
            </body>\
            </html>"
			
601, "   <html>\
            <head>\
            <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\
            </head>\
            <body>\
            Félicitations, votre serveur WAPT est désormais opérationnel.<br>\
            Consultez la documentation  \
            sur <a\
            href=\"http://dev.tranquil.it/scenari/guide_admin/co/generation_waptsetup_personnalise_waptconsole.html\">Générer depuis la console WAPT</a>\
            <br>\
            Pour déployer votre infrastructure WAPT sur votre réseau, consultez \
            la\
            documentation <a\
            href=\"http://dev.tranquil.it/index.php/WAPT_-_D%C3%A9ploiement_de_WAPT_par_GPO\"/>Déployer WAPT via GPO</a>\
            </body>\
            </html>"	
}
