<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ _("WAPT - Apt-get for Windows") }}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel="stylesheet" type='text/css'>
    <link href="{{ url_for('static', filename='css/style.css') }}", rel="stylesheet" type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sx-12" id="logo">
                    <a href="https://www.tranquil.it/" title="Tranquil IT Systems" rel="home"><img src="{{ url_for('static', filename='img/tis_new.png') }}"></a>
                </div>
                <div class="col-md-8 col-sx-12">
                    <h1>{{ _("WAPT Server") }}</h1> </div>
                <div class="col-md-2 col-sx-12" id="btn-contact">
                    <a target="_blank" href="https://www.tranquil.it/page/contactus" title="Contactez-nous !">
                        <p class="btn btn-primary btn-block">{{ _("Contact Us") }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <img class="navbar-brand" src="{{ url_for('static', filename='img/Logo-wapt.png') }}" /> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Repository<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="http://wapt.tranquil.it/">{{ _("TIS repository") }}</a></li>
                            <li><a href="/store">{{ _("Local repository") }}</a></li>
                        </ul>
                    </li>
                    {% if data %}
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">WAPTServer<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/wapt/waptagent.exe">{{ _("WAPT Agent (for deploying onto user desktop)") }}</a></li>
                            {% if data.wapt.setup.url %}<li><a href="{{data.wapt.setup.url}}">{{ _("WAPTSetup (for installing on management machine)") }}</a></li>{% endif %}
                            <li><a href="{{data.wapt.deploy.url}}">{{ _("WAPTDeploy (for setting up deployment GPO)") }}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mailing List<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://lists.tranquil.it/pipermail/wapt/">Archives</a></li>
                            <li><a href="http://lists.tranquil.it/listinfo/wapt">{{ _("Subscribe") }}</a></li>
                        </ul>
                    </li>
                    <li> <a href="https://github.com/tranquilit/WAPT/issues">Gestion de Bugs (GitHub)</a> </li>
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ _("Help") }}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a target="_blank" href="https://www.wapt.fr/">Homepage WAPT</a></li>
							<li><a target="_blank" href="https://www.wapt.fr/fr/doc/">Documentation</a></li>
							<li><a target="_blank" href="https://forum.tranquil.it/">Forum</a></li>
						</ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}
    <p>Content</p>
    {% endblock content %}

	<footer>
		<div>
			<div class="contact">
				<div class="container">
					<div class="col-md-6">
						<h4>Contact</h4>
						<p><a target="_blank" href="https://www.tranquil.it/page/contactus">Contactez-nous</a></p>
						<p>Réferences</p>
						<p>Actualité</p>
						<p>Nos équipes</p>
					</div>
					<div>
						<h4>Tranquil IT</h4>
						<p>We are a team of passionate people whose life purpose is to be useful to others. We make our products with the aim to resolving your IT problems and optimizing your daily work.</p>
					</div>
				</div>
				<div class="container text-muted copyright">
					<p>Copyright Tranquil IT Systems | © 2012-2017</p>
				</div>
			</div>
		</div>
	</footer>
    <!-- jQuery Version 1.11.1 -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
