<!DOCTYPE html>
<html lang="fr-FR"><head>
  <meta charset="UTF-8">
  <title>{{ _("WAPT SERVER Web Console") }}</title>
  <link rel="stylesheet" type="text/css" media="all" href="./static/themes/tranquilit/style.css">
  <link rel="shortcut icon" href="./static/favicon.ico">
  <meta name="description" content="Serveur WAPT">
  <link rel="canonical" href="./static/">
  <style type="text/css">
sup {
	vertical-align: 60%;
	font-size: 75%;
	line-height: 100%;
}
sub {
	vertical-align: -10%;
	font-size: 75%;
	line-height: 100%;
}
.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", "Warnock Pro", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.1em;
	line-height: 1em;
}
.caps {
	font-size: 90%;
}
.dquo {
	margin-left:-.40em;
}
.quo {
	margin-left:-.2em;
}
/* because formatting .numbers should consider your current font settings, we will not style it here */
  </style>



  <style type="text/css" id="custom-background-css">
body.custom-background { background-color: #f1f1f1; }
  </style>

</head><body class="home page page-id-567 page-template page-template-page-home-php custom-background">

<div id="wrapper" class="container hfeed">
<div id="header" class="span-12 last">
<div id="branding" class="span-4" role="banner"> <a href="./static/" title={{ _("Tranquil IT Systems") }} rel="home"><img src="./static/themes/tranquilit/img/logo-tis.jpg"></a> </div>
<br>
<div id="site-description" class="span-4">{{ _("WAPT - Apt-get for Windows") }}<br>
</div>
<div class="span-3 last" id="contact"> <a href="http://www.tranquil-it-systems.fr/societe/contactez-nous/" title={{ _("Contact us or have us call back") }}><img src="./static/themes/tranquilit/img/contact.jpg" alt="Contactez-nous"></a> </div>
<br>
<div id="access" class="clear span-12">
<div id="nav" class="clear span-8" role="navigation">
<div class="skip-link screen-reader-text"><a href="#content" title={{ _("To contents") }}>{{ _("To contents") }}</a></div>
<div class="menu-header">
<ul id="menu-main" class="menu">
  <li id="menu-item-2912" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-567 current_page_item menu-item-2912"><a href="#">{{ _("Home") }}</a></li>
  <li id="menu-item-3070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3070"><a href="http://wapt/wapt/">{{ _("Private repository") }}</a></li>
  <li id="menu-item-310" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-310"><a href="http://wapt.tranquil.it/">{{ _("TIS repositories") }}</a></li>
  <li id="menu-item-311" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-311"><a href="http://dev.tranquil.it/index.php/WAPT">{{ _("WAPT Wiki") }}</a></li>
  <li id="menu-item-2443" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2443"><a href="http://lists.tranquil.it/pipermail/wapt/">{{ _("Mailing list") }}</a></li>
</ul>
</div>
</div>
<br>
</div>
</div>
<br>
<div id="main" class="clear span-12 last"><br>
&nbsp;
<div id="container" class="span-9">
<div id="content" role="main" class="span-9">
<div class="span-2">
<table>
  <tbody>
    <tr>
      <td bgcolor="#f3b144"><span style="color: rgb(255, 255, 255);"><strong>{{ _("WAPTServer") }}<br>
      </strong></span></td>
    </tr>
    <tr>
      <td bgcolor="#f6f6f6">
      <ul>
		<br>
        <li><a href="/wapt/waptagent.exe"><strong>{{ _("WAPT Agent (for deploying onto user desktop)") }}</strong></a></li>
        <li><a href="/wapt/waptsetup-tis.exe"><strong>{{ _("WAPTSetup (for installing on management machine)") }}</strong></a></li>
		<li><a href="/wapt/waptdeploy.exe"><strong>{{ _("WAPTDeploy (for setting up deployment GPO)") }}</strong></a></li>
        <br>
        <li><a href="/ssl/">{{ _("Certificates") }}</a></li>
        <li><a href="/wapt/">{{ _("Private repository") }}</a></li>
        <li><a href="http://wapt.tranquil.it/">{{ _("TIS repository") }}</a><br>
        </li>
      </ul>
      </td>
    </tr>
    <tr>
      <td><br>
      </td>
    </tr>
    <tr>
      <td bgcolor="#81b944"><span style="color: rgb(255, 255, 255);"><strong>{{ _("Help") }}<br>
      </strong></span></td>
    </tr>
    <tr>
      <td bgcolor="#f6f6f6">
      <ul>
        <li><a href="http://dev.tranquil.it/index.php/WAPT_-_apt-get_pour_Windows">{{ _("WAPT Wiki&nbsp;") }}</a></li>
        <li><a title="Support niveau 3" href="http://lists.tranquil.it/listinfo/wapt">{{ _("mailing list archive") }}</a></li>
        <li><a href="http://roundup.tranquil.it/wapt/"><span style="text-decoration: underline;">{{ _("Issue tracker (roundup)") }}</span></a><br>
        </li>
      </ul>
      </td>
    </tr>
    <tr>
      <td><br>
      </td>
    </tr>
    <tr>
      <td bgcolor="#d40050"><span style="color: rgb(255, 255, 255);"><strong>{{ _("Services") }}</strong></span></td>
    </tr>
    <tr>
      <td bgcolor="#f6f6f6">
      <ul class="sub-menu">
        <li><a title={{ _("Our solutions") }} href="http://www.tranquil.it">{{ _("Tranquil IT Systems") }}</a></li>
        <li><a href="http://dev.tranquil.it/index.php/WAPT_-_Int%C3%A9grateurs">{{ _("WAPT providers") }}</a><br>
        </li>
      </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="span-6">
<a class="toc-anchor" name="notre-societe"></a>
<h2>{{ _("WAPT server") }} v{{ wapt_server_version }}</h2>
<p>{{ _("""
WAPT server is managed through a WAPT console installed on a Windows system.
When installing the WAPT server on Windows, the console is installed by default and can be found under the start menu.
""") }}
</p>
<p>
{{ _("""
When installing the server on Linux, the <a href=\"/wapt/waptsetup-tis.exe\">WAPT client</a> should be installed on an
administration machine, then run from 'Start/All programs'.
""") }}
</p>
<p>{{ _("""
To manually add a new host to the WAPT server, download the<a href=\"/wapt/waptagent.exe\">WAPT agent</a> from the menu
to the right. The agent has been properly configured by the server so the default parameters should work. Once the WAPT client
has been installed, you can find it in your console.
""") }}
</p>
<p>{{ _("""
For further information, be sure to check the documentation at <a href=\"http://dev.tranquil.it/\">dev.tranquil.it</a> or on
mailing-list.
""") }}
</p>

</div>
</div>
<br>
</div>
<div id="home" class="widget-area span-3 last" role="complementary">
<ul>
  <li id="news" class="widget-container widget_recent_entries">
    <h2 class="widget-title">{{ _("What's new") }}</h2>
	<div id="actualites"></div>
  </li>
</ul>
<h3><br>
</h3>
<br>

</div>
</div>
</div>
<br>
<div id="footer" role="contentinfo" class="clear span-12">
<center>
<div style="padding-left: 1.5em;">
© 2010-2014 <a href="http://www.tranquil.it/" title={{ _("Tranquil IT Systems") }} rel="home"> {{ _("Tranquil IT Systems") }}</a>
</div>
</center>
<br>
</div>
<br>
</div>


</body></html>
