<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ _("WAPT - Apt-get for Windows") }}</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href="css/style.css" rel="stylesheet" type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sx-12" id="logo">
                    <a href="#" title="Tranquil IT Systems" rel="home"><img class="thumbnail" src="img/tis_new.png"></a>
                </div>
                <div class="col-md-8 col-sx-12">
                    <h1>{{ _("WAPT - Apt-get for Windows") }}</h1> </div>
                <div class="col-md-2 col-sx-12" id="btn-contact">
                    <a target="_blank" href="http://www.tranquil-it-systems.fr/societe/contactez-nous/" title="Contactez-nous !">
                        <p class="btn btn-primary btn-block">{{ _("Contact Us") }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <img class="navbar-brand" src="img/Logo-wapt.png" /> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li> <a href="#">{{ _("Home") }}</a> </li>
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dépôts<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="http://wapt.tranquil.it/">{{ _("TIS repository") }}</a></li>
                            <li><a target="_blank" href="file:///U:/marketing/console_wapt_html/private_repository.html">{{ _("Private repository") }}</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">WAPTServer<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/wapt/waptagent.exe">{{ _("WAPT Agent (for deploying onto user desktop)") }}</a></li>
                            <li><a href="/wapt/waptsetup-tis.exe">{{ _("WAPTSetup (for installing on management machine)") }}</a></li>
                            <li><a href="http://wapt.tranquil.it/wapt/releases/latest/waptdeploy.exe">{{ _("WAPTDeploy (for setting up deployment GPO)") }}</a></li>
                        </ul>
                    </li>
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mailing List<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://lists.tranquil.it/pipermail/wapt/">Archives</a></li>
                            <li><a href="http://lists.tranquil.it/listinfo/wapt">{{ _("Subscribe") }}</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Gestion de Bugs (roundup)</a> </li>
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ _("Help") }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="http://dev.tranquil.it/index.php/WAPT">Wiki WAPT</a></li>
                            <li><a target="_blank" href="http://wapt/wapt/doc/">Documentation</a></li>
                            <li><a target="_blank" href="https://forum.tranquil.it/">Forum</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container homepage">
        <div class="row">
            <div class="col-md-9 col-sx-12">
                <h2>{{ _("WAPT server") }}</h2>
                <p>{{ _(""" WAPT server is managed through a WAPT console installed on a Windows system. When installing the WAPT server on Windows, the console is installed by default and can be found under the start menu. """) }}</p>
                <p> {{ _(""" When installing the server on Linux, the <a href=\"/wapt/waptsetup-tis.exe\">WAPT client</a> should be installed on an administration machine, then run from 'Start/All programs'. """) }} </p>
                <p>{{ _(""" To manually add a new host to the WAPT server, download the <a href=\"/wapt/waptagent.exe\">WAPT agent</a> from the menu to the right. The agent has been properly configured by the server so the default parameters should work. Once the WAPT client has been installed, you can find it in your console. """) }} </p>
                <p>{{ _(""" For further information, be sure to check the documentation at <a href=\"http://dev.tranquil.it/\">dev.tranquil.it</a> or on mailing-list. """) }} </p>
            </div>
            <div class="col-md-3 col-sx-12">
                <div id="home" class="widget-area span-3 last" role="complementary">
                    <ul>
                        <li><strong>{{ _("WAPT Server version:") }} {{ data.wapt.server.status }}</strong></li>
                        <li><strong>{{ _("WAPT Agent version:") }} {{ data.wapt.agent.status }}</strong></li>
                        <li><strong>{{ _("WAPT Setup version:") }} {{ data.wapt.setup.status }}</strong></li>
                        <li><strong>{{ _("WAPT Deploy version:") }} {{ data.wapt.deploy.status }}</strong></li>
                        <li><strong>{{ _("DB status:") }} {{ data.wapt.db.status }}</strong></li>
                        <li><strong {{ data.wapt.disk_space.style|safe }}>{{ _("Disk space:") }} {{ data.wapt.disk_space.status }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="/wapt/waptagent.exe" {{ data.wapt.agent.style|safe }}>
                <div class="col-md-4"> <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>{{ _("WAPT Agent") }}</h4>
                    <p class="text-muted">{{ _("For deploying onto user desktop") }}</p>
                </div>
            </a>
            <a href="/wapt/waptsetup-tis.exe" {{ data.wapt.setup.style|safe }}>
                <div class="col-md-4"> <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-archive-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>WAPTSetup</h4>
                    <p class="text-muted">{{ _("For installing on management machine") }}</p>
                </div>
            </a>
            <a href="/wapt/waptdeploy.exe" {{ data.wapt.deploy.style|safe }}>
                <div class="col-md-4"> <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>WAPTDeploy</h4>
                    <p class="text-muted">{{ _("For setting up deployment GPO") }}</p>
                </div>
            </a>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="contact">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Contact</h4>
                        <p><a target="_blank" href="https://tranquil.it/societe/contactez-nous/">{{ _("Contact Us") }}</a></p>
                        <p>{{ _("References") }}</p>
                        <p>{{ _("Actuality") }}</p>
                        <p>{{ _("Team") }}</p>
                    </div>
                    <div>
                        <h4>{{ _("Tranquil IT Systems") }}</h4>
                        <p>{{ _("Nous sommes une équipe de personnes passionnées dont le but est d'améliorer la vie de chacun. Nous élaborons des produits très performants pour résoudre vos problèmes. Nos produits sont créés pour optimiser les performances des PME.") }}</p>
                    </div>
                </div>
                <div class="row text-muted copyright">
                    <p>Copyright {{ _("Tranquil IT Systems") }} | © 2012-2017</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
