<!DOCTYPE html>
<html>
  <head>
    <title>Wapt folder</title>
  </head>
  <body>

    <h2>Warning</h2>
    <p>
      You shouldn't be reading this page. If you haven't already done
      so, please configure a webserver to serve these directories and
      a reverse proxy so that WAPT clients can access your WAPT server
      over regular HTTP/HTTPS ports.  You've been warned.
    </p>

    <p> <a href="..">Parent directory</a></p>

    <h2>Folder content</h2>
    <ul>
      {% for entry in dir_listing %}
      <li> <a href="{{ url_for('get_wapt_package', input_package_name=entry) }}">{{ entry }}</a></li><br />
      {% endfor %}
    </ul>
  </body>
</html>
