html,
body {
  background-color: #eeeeee;
}

footer{
    width: 85%;
    position:fixed;
    bottom:0px;
    background: #eee;
    padding: 14px 8px;
    margin-left: 15%;
}

footer .right {
  text-align: right;
}

.banner {
    background-color: #2d3047ff;
    vertical-align: center;
    text-align: center;
    color: white;
    padding: 10px;
}

#logo {
    transform: translateY(15%);
}

#btn-contact {
    transform: translateY(70%);
}

a:hover {
  text-decoration: none;
}

.software_list {
	/*border: 1px solid black;*/
	margin-top: 1%;
	width: 100%;
	display: flex;
}

.tuile {
	/*border: 1px solid black;*/
	align-self: flex-start;
	border: 4px solid #eeeeee;
	padding: 0.2%;
  background-color: white;
  height: 270px;
  overflow: hidden;
  padding: 30px;
  min-width: 307px;
}

.tuile .col-md-8 {
  padding-left: 0px;
}


.software_name {
	/*font-family: "glyphicons-halflings-regular";*/
	text-transform: uppercase;
	font-size: large;
	display: inline;
	margin-left: 3%;
}

.software_version {
	display: inline;
}

input[type=checkbox], input[type=radio] {
  margin-right: 5px;
}


/*pour la nav responsive, aller voir ?a : https://bootsnipp.com/snippets/featured/responsive-sidebar-menu*/
/* The side navigation menu */

#sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #2d3047ff;
  color: white;
  padding: 0 30px 0 30px;
}

#sidebar .row {
  padding: 10px 0 10px 0;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div#content.home {
  margin-left: 15%;
}


div#content.page {
  padding: 1px 16px;
  margin-left: 25%;
}



@media screen and (max-width: 400px) {
  #sidebar a {
    text-align: center;
    float: none;
  }
}

@media (max-width: 655px) {
  .container {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  #sidebar {
    display: none;
  }
  #sidebar a {float: left;}
  div#content.page {margin-left: 0;}
}

@media (max-width: 706px) {
  .container {
    width: 650px;
  }
}

@media (max-width: 756px) {
  .container {
    width: 650px;
  }
}

@media (max-width: 990px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 1290px) {
  .container {
    width: 863px;
  }
}

@media screen and (max-width: 1435px) {
  div#content.page {
    margin-left: 13%;
  }
}

@media screen and (max-width: 1490px) {
  div#content.page {
    margin-left: 15%;
  }
}

@media screen and (max-width: 1612px) {
  .tuile {
    height: 282px;
  }
}

@media screen and (max-width: 1620px) {
  div#content.page {
    margin-left: 18%;
  }
}


/*essai 1*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 15%;
    padding: 60px 30px 0px 30px;
    transition: transform 250ms ease-in-out;
    background: #2d3047;
    color: #fff;
    z-index: 1
}
@media screen and (max-width: 1341px) {
  div#content.page {
    margin-left: 2%;
  }

  #sidebarMenu {
      width: 100%;
      transform: translateX(-100%);
  }

  .aside {
  position: fixed;
  background-color: #eee;
  overflow-y: scroll;
  }

  .annonces-tis {
    display: none;
  }

  footer {
    margin-left: 0%;
  }
}

@media screen and (max-width: 1047px) {
  footer {
    display:none;
  }
}

.footer {
  margin-top: 30px;
}

@media screen and (min-width: 1047px) {
  .footer {
    display:none;
  }
}

@media screen and (min-width: 1342px){
  .sidebarIconToggle {
    display:none
  }
  .thumbnail  {
    margin-top: -47px;
  }
  ul.item div#filter-button {
    text-align: right;
  }
}

input[type="checkbox"].openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox].openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
    background: #eeeeee;
    padding: 2px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}

#test-spinner {
  background-color: white;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}



.package-icon-home {
  height: 48px;
}

/*Page software*/
/*#content .table-software {
  margin-left: 20%;
  width: 60%;
}*/

#content .table-software table {
  width: 100%;
}

.table-software .container {
  background: #fff;
  margin: 20px;
  padding: 25px;
}

.more-software .container {
  background: #fff;
  margin: 20px;
  padding: 25px;
}

.container.package {
  width: 98%;
  padding: 20px 0 20px; 0;
}

.package-icon {
  padding: 0px;
  height: 100%;
}

.package-icon img {
  padding: 40px;
  max-width: 150px;
}

.package-title {
  height: 100%;
}

/*spin arrow old packages*/
.spin-arrow {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-180deg);

}

.spining-arrow.collapsed .spin-arrow {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(0deg);
}

/*icon and package name*/
#main-title {
  padding: 0px;
}

ul.item {
  padding-left: 0px;
}

ul.item li {
  list-style-type: none;
  display: table;
  padding: 10px 0px 10px 0;
}

ul.item ul {
  padding-left: 0px;
}

ul.item ul li a {
  padding-top: 0px;
  padding-left: 0px;
  width: 100%;
  color: white;
}

ul.item ul li a:hover {
  text-decoration: underline;
}

.navbar {
    background-color: #222222;
}

.navbar .navbar-nav>li>a {
    text-transform: uppercase;
    color: white;
    background-color: #222222;
}

.navbar .navbar-nav>li>a:hover {
    color: #fec503;
    background-color: #3B3B3B;
}

.navbar .navbar-nav>li>a:focus {
    color: #fec503;
    background-color: #222222;
}

.navbar .navbar-nav>li>a:active {
    color: #fec503;
    background-color: #222222;
}

.dropdown-menu {
    background-color: #222222;
}

.dropdown-menu>li>a:hover {
    background-color: #222222;
    color: #fec503;
}

.dropdown-menu li a {
    color: white;
}

.navbar-default .navbar-nav > .open > a:focus{
    background-color: #3B3B3B;
    color: #fec503;
}

.contact {
    background-color: #222222;
    color: white;
}

.contact p {
    margin-bottom: 0px;
}

.copyright {
    margin: 5px 0px 5px;
}

.text-primary {
    color: #f3b144;
}

.homepage {
    min-height: calc( 100vh - 302px);
}

@media screen and (max-width: 991px) {
    .banner {
        margin-top: 52px;
    }
    .homepage {
        margin-top: 52px;
    }
    .navbar {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .tuile {
      height: initial;
    }
    .btn {
      margin-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
    }
    .dropdown-menu {
        text-align: center;
    }
    .container {
        text-align: center;
    }
}
.ico-nav{
  float : left
}
.text-nav{
  text-align : right;
}

.breadcrumb {
  background-color: transparent;
  padding: 15px 0px 15px 15px;
  margin-bottom: 0px;
}

/*.page .breadcrumb {
  margin-left: -15%;
}*/

.software-description {
  margin-top: 10px;
}

.btn {
  border-radius: 0px;
}

.btn-outline-success {
  background: transparent;
  color: #4cae4c;
  border: solid 1px #4cae4c;
}

.btn-outline-success:hover {
  color: #4cae4c;
  border: solid 2px #4cae4c;
}

.tuile .btn {
  width: 100%;
}

/*bloc pub*/

.annonces-tis {
  margin-top: 30px;
}

.annonces-tis-responsive {
  margin: 20px 0px 20px 0px;
}

@media screen and (min-width: 1342px) {
  .annonces-tis-responsive {
    display: none;
  }
