package           : tis-waptupgrade
version           : 1.7.4.6143-23
architecture      : all
section           : base
priority          : optional
name              : 
categories        : 
maintainer        : Hubert TOUVET
description       : Install waptagent.exe
depends           : 
conflicts         : 
maturity          : 
locale            : 
target_os         : windows
min_os_version    : 
max_os_version    : 
min_wapt_version  : 
sources           : 
installed_size    : 
impacted_process  : 
description_fr    : 
description_pl    : 
description_de    : 
description_es    : 
audit_schedule    : 
editor            : 
keywords          : 
licence           : 
homepage          : 
package_uuid      : 
valid_from        : 
valid_until       : 
forced_install_on : 
signer            : 
signer_fingerprint: 
signature_date    : 
signed_attributes : 