package      : tis-waptupgrade
version      : 0.9.8.0-1476
architecture : all
section      : base
priority     : optional
maintainer   : Hubert TOUVET
description  : Upgrades main Wapt client files
 wapt-get.exe, wapt-get.py, common.py, waptpackage.py, setuphelpers.py
 wapttray.exe
 waptservice files
 waptdevutils.py
depends      : 
conflicts    : 
sources      : https://srvdev/sources/tis-waptupgrade-wapt/trunk
