[Desktop Entry]
Type=Application
Exec=/usr/bin/waptself
Icon=/opt/wapt/icons/waptself.ico
Name=WAPT Self-service
GenericName=WAPT Self-service
Categories=Utility;