[Desktop Entry]
Type=Application
Exec=/usr/bin/waptself
Icon=/opt/wapt/icons/waptself.ico
Name=WAPT Exit
GenericName=WAPT Exit
Categories=Utility;